body {
  background-color: #b3b300;
}

#formula1 {
  background-color: #ffffff;
  border: 2px solid black;
  border-radius: 5px;
  height: 25px;
  width: 25px;
  padding: 5px;
}

#formula2 {
  background-color: #ffffff;
  border: 2px solid black;
  border-radius: 5px;
  height: 25px;
  width: 25px;
  padding: 5px;
}

#button {
  background-color: #ffffff;
  border: 2px solid black;
  border-radius: 5px;
  height: 25px;
  width: 100px;
  cursor: pointer;
  padding: 5px;
  margin: 5px;
}
